body {
    background: url(website_background.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    align-items: center; 
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    

}

.box {
    width: 600px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    justify-content: center;
    margin: 2px;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
}

.box a:visited {
    color: white;
}

.box li a:hover {
    color: #a0a0a0;
}

.input button {
    background-color: black;
    color: white;
    font-size: 1.01em;
}

.input input {
    color: white;
    background-color: black;
}

.input * {
    margin-top: 5px;
}

.input #usersName {
    color: rgb(255, 208, 208);
    font-size: 1.4em;
    margin-top: 10px;
}

.exe {
    margin-top: 20px;
}

.exe a {
    color: white;
    font-family: 'Century Gothic', sans-serif;
    font-size: 1.9em;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border: 3px;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-style: solid;
    margin: 2px;
}

.exe a:hover {
    color: white;
    font-family: 'Century Gothic', sans-serif;
    font-size: 1.9em;
    background: rgba(0, 0, 0, 0.65);
    padding: 10px;
    border: 3px;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-style: solid;
}
